<?php

	$db = new PDO('mysql:host=localhost;dbname=307online;charset=utf8', 'root', '');
	$db->setAttribute( PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION );

/*

TABLE STRUCTURES
-------------------------------------------------------------------------------

CREATE TABLE `guestbook` (
  `id` mediumint(2) NOT NULL AUTO_INCREMENT,
  `visitor_name` varchar(100) NOT NULL,
  `visitor_city` varchar(100) NOT NULL,
  `comments` varchar(1000) NOT NULL,
  `visit_date` DATE,
  `comment_date` TIMESTAMP NOT NULL,
  PRIMARY KEY (`id`)
);


*/
?>

